/* styles.css */
* {
  font-family: "Press Start 2P", cursive;
}

.grid {
  display: grid;
  justify-content: center;
  align-content: center;

  width: 100vw;
  height: 100vh;
  background-image: url("./assets/tetris_background.svg");
  background-size: 200px;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-board {
  border: solid 2px;
  background-color: white;
}

.play-button {
  background-color: #4caf50;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

.pause-button {
  background-color: lightgray;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

.game-area {
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 320px 200px;
}

.right-column-buttom {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

#high-score,
.high-score,
.high-score > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin: 0;
}

.high-score {
  border: solid 2px;
  padding: 10px 0 10px 0;
}
